.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #295939;
    cursor: pointer;
    outline: none;
}

.BuildControl button:disabled {
    background-color: #AC9980;
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {  
    background-color: #ec0101;
    color: white;
    border: 2px solid #cd0a0a;
}

.BuildControl .More {
    background-color: #79d70f;
    color: white;
    
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: #a20a0a;
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #81b214;
    color: white;
}